---
import Image from "astro/components/Image.astro"
import Dager from "../media/dager.jpg"
---

<section id="about" class="pt-24 md:pt-32 min-h-[80vh] 2xl:pt-36">
    <div class="container h-full flex flex-col gap-10 sm:grid sm:grid-rows-1 sm:grid-cols-2 sm:gap-10 md:gap-32 mx-auto px-2">
        <div class="w-full">
            <h1 class="text-6xl text-center md:text-left font-bold mb-5 md:mb-10 text-text-100 sm:text-8xl text-primary">
                Sobre mi
            </h1>
            <p class="text-lg md:text-xl text-pretty mb-10 leading-relaxed md:leading-loose font-light text-gray">
                Hola, soy Mariano. Me encanta crear contenido, explorar ideas filosóficas y disfrutar de la compañía de mis gatos. La programación, la música, y las pequeñas cosas como los pickles hacen que la vida sea más interesante.
            </p>
            <a href="#" class="text-lg md:text-xl px-6 py-3 bg-primary text-bg-white rounded hover:shadow-lg shadow-primary ">
                Seguime :)
            </a>
        </div>
        <div class="">
            <Image src={Dager} alt="profile" width={600} height={600} class="mx-auto rounded-3xl" />
        </div>
    </div>
</section>