---
import Image from "astro/components/Image.astro"
import Dager from "../media/dager.jpg"
---

<section id="about" class="pt-24 md:pt-32 min-h-[80vh] 2xl:pt-36">
    <div class="container h-full flex flex-col gap-10 sm:grid sm:grid-rows-1 sm:grid-cols-2 sm:gap-10 md:gap-32 mx-auto px-2">
        <div class="w-full">
            <h1 class="text-6xl text-center md:text-left font-bold mb-5 md:mb-10 text-text-100 sm:text-8xl text-primary">
                Sobre mi
            </h1>
            <p class="text-lg  text-pretty mb-10 leading-relaxed md:leading-loose font-light text-gray font-sans">
                Hola, soy Mariano. <br> 
Soy programador, músico y amante de las ideas que hacen pensar. Creo en la creatividad como motor de todo lo que hago, desde escribir código hasta explorar nuevas formas de expresión. <br> <br>Disfruto de la compañía de mis gatos, la buena música y esos pequeños placeres que hacen que la vida sea más interesante, como un pickle bien hecho o una conversación que te deja reflexionando.
            </p>
        </div>
        <div class="">
            <Image src={Dager} alt="profile" width={600} height={600} class="mx-auto rounded-3xl" />
        </div>
    </div>
</section>