---

import Dropdown from "./Dropdown.astro"
---

<section id="interests" class="py-24">
    <div
        class="container mx-auto px-2"
    >
    <h1 class="text-6xl text-center md:text-left font-bold mb-10 md:mb-20 text-text-100 sm:text-8xl text-primary">
        Mis intereses
    </h1>
    <Dropdown title="Programación">
        <p>asdf</p>
    </Dropdown>
    <Dropdown title="Música">
        <p>asdf</p>
    </Dropdown>
    <Dropdown title="Filosofía">
        <p>asdf</p>
    </Dropdown>
    <Dropdown title="Pepinos">
        <p>asdf</p>
    </Dropdown>
    <Dropdown title="Música">
        <p>asdf</p>
    </Dropdown>
    <Dropdown title="Juegos">
        <p>asdf</p>
    </Dropdown>
    
    </div>
</section>