---

import Dropdown from "./Dropdown.astro"
---

<section id="interests" class="pt-24 md:pt-32 min-h-screen 2xl:pt-36">
    <div
        class="container mx-auto px-2"
    >
    <h1 class="text-6xl text-center font-bold mb-5 md:mb-14 lg:mb-16 text-text-100 sm:text-8xl 2xl:tracking-wide 2xl:text-[140px] uppercase">
        Mis intereses
    </h1>
    //List
    <Dropdown title="Programación">

    </Dropdown>
    <Dropdown title="Música">

    </Dropdown>
    <Dropdown title="Gatos">

    </Dropdown>
    <Dropdown title="Filosofía">
        
    </Dropdown>
    <Dropdown title="Pepinos">

    </Dropdown>
    <Dropdown title="Juegos">
        
    </Dropdown>
    </div>
</section>