---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<section id="home" class="relative flex flex-col pt-24 md:pt-32 min-h-screen 2xl:pt-36 pb-10 ">
  <div class="relative flex-grow flex flex-col mx-6 max-w-screen-xl xl:mx-auto sm:px-10 lg:px-24 ">
    <h1
      class="text-primary mt-20 text-6xl text-center font-extrabold mb-5 md:mb-14 lg:mb-16 text-text-100 sm:text-8xl 2xl:tracking-wide 2xl:text-[140px]"
    >
      Dot Dager
    </h1>
    <div class="flex flex-wrap justify-center flex-col items-center md:mb-6">
      <p
        class="text-lg text-center md:text-xl max-w-[240px] md:max-w-[320px] lg:max-w-[400px] text-text-200 mb-4 font-sans"
      >
        Content Creator | Lover of code, cats, and philosophy
      </p>
    </div>
    <div class="flex-grow"></div>
    <a href="#about" id="scroll-down" class="mx-auto p-[6px] border border-primary rounded-xl">
      <Icon name="mdi:chevron-down" size={32} class="animate-up-down"/>
    </a>
  </div>
</section>

