---
export const links = [
  { text: "Inicio", href: "/#home" },
  { text: "Sobre mi", href: "/#about"},
  { text: "Intereses", href: "/#interests" },
  { text: "Redes", href: "/#social" },
];
---

<nav class="fixed bg-opacity-0 backdrop-blur-md top-0 w-full bg-outline border-b border-b-primary z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-20">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <div class="text-2xl font-bold text-primary ">
            <a href="/" aria-label="Dot Dager">Dot Dager
            </a>
          </div>
        </div>
  
        <!-- Botón de hamburguesa para mobile -->
        <div class="-mr-2 flex md:hidden">
          <button 
            type="button" 
            class="inline-flex items-center justify-center p-2 text-bg-white focus:outline-none " 
            aria-controls="mobile-menu"
            aria-expanded="false"
            id="hamburger-button"
          >
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="hamburger-icon">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
  
        <!-- Menu de navegación en pantallas grandes -->
        <div class="hidden md:flex space-x-8">
          {links.map(link => (
            <a href={link.href} class="text-white font-medium hover:underline">
              {link.text}
            </a>
          ))}
        </div>
      </div>
    </div>
  
    <!-- Menu para mobile -->
    <div class="hidden md:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-3 sm:px-3">
        {links.map(link => (
          <a href={link.href} class="block text-center hover:underline text-bg-white text-base uppercase font-medium">
            {link.text}
          </a>
        ))}
      </div>
    </div>
  </nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const hamburgerButton = document.getElementById('hamburger-button') as HTMLElement;
    const mobileMenu = document.getElementById('mobile-menu') as HTMLElement;
    const hamburgerIcon = document.getElementById('hamburger-icon') as HTMLElement;
    let isOpen = false;

    // Función para alternar el menú
    const toggleMenu = () => {
      isOpen = !isOpen;
      if (isOpen) {
        mobileMenu.classList.remove('hidden');
        // Cambia el icono a "X" (Cerrar)
        hamburgerIcon.setAttribute('d', 'M6 18L18 6M6 6l12 12');
      } else {
        mobileMenu.classList.add('hidden');
        // Cambia el icono a "Menú" (Tres líneas)
        hamburgerIcon.setAttribute('d', 'M4 6h16M4 12h16M4 18h16');
      }
    };

    // Agrega un event listener para el botón de hamburguesa
    hamburgerButton.addEventListener('click', toggleMenu);


    //Cerrar menu al hacer click en un enlace
    const links = document.querySelectorAll('#mobile-menu a');
    links.forEach(link => {
      link.addEventListener('click', () => {
        toggleMenu();
      });
    });
  });
</script>