---
const links = [
    { text: "Linktree", href: "https://linktr.ee/DotDager" },
    { text: "YouTube", href: "https://www.youtube.com/@DotDager" },
    { text: "Spotify", href: "https://open.spotify.com/intl-es/artist/6bkClBMJd4qKxJp0J5vHsz?si=pDh9YzHqSJuo45Al_x5_zw" }, 
    { text: "Twitter", href: "https://x.com/Dager_32" },
    { text: "GitHub", href: "https://github.com/MarianoVilla" },
]
import AstroLink from "./AstroLink.astro"
---

<section id="social" class="py-24 md:py-32 2xl:py-36">
    <div class="container mx-auto border border-primary rounded-3xl py-32  shadow-primary shadow-inner-lg">
        <h1 class="text-5xl leading-normal text-center font-bold mb-10 md:mb-14 lg:mb-16 text-text-100 md:text-8xl text-primary-light-200">
            Seguime en mis redes
        </h1>
        <div class="flex gap-4 flex-wrap justify-center ">
            {links.map(link => (
                <AstroLink href={link.href} text={link.text}></AstroLink>
            ))}
        </div>
    </div>
</section>