---
const links = [
    { text: "GitHub", href: "https://github.com/dotdager" },
    { text: "Instagram", href: "https://www.instagram.com/dotdager/" },
    { text: "Twitter", href: "https://twitter.com/dotdager" },
    { text: "LinkedIn", href: "https://www.linkedin.com/in/dotdager/" },
    { text: "Spotify", href: "https://open.spotify.com/user/31j4q4q4q4q4q4q4q4q4q4q4q4?si=4b5b4d3a3f6d4c3e4a3d4b3e4a3d4b3e4a3d4b3e4a3d4b3e" }, 
]
---

<section id="social" class="pt-24 md:pt-32 min-h-screen 2xl:pt-36">
    <div class="container mx-auto px-2 border border-primary rounded-3xl">
        <h1 class="text-6xl text-center font-bold mb-5 md:mb-14 lg:mb-16 text-text-100 sm:text-8xl 2xl:tracking-wide 2xl:text-[140px]">
            Seguime en mis redes
        </h1>
        <div class="flex flex-wrap justify-center ">
            //List
        </div>
    </div>
</section>